.App {
  text-align: center;
}

textarea{
  margin: 1em auto;
      min-width: 95%;
      min-height: 300px;
      display:block;
      background-color:#ffffff;
      border-left: 5px solid #0072ff;
      border-top: 1px solid #0072ff;
      border-right: 1px solid #0072ff;
      border-bottom: 1px solid #0072ff;
      color: #0072ff;
      padding:20px;
      line-height:24px;
      word-break: break-all;
      white-space: -moz-pre-wrap; /* Mozilla */
      white-space: -o-pre-wrap; /* Opera 7 */
      white-space: pre-wrap;  /* CSS 2.1 */
      /*white-space: pre-line;  CSS 3 */
      word-wrap: break-word; /* IE */
}

hr{
  height:1px; 
  border:none; 
  color:#0072ff;
  background-color:#0072ff;
}
#btn{
      background-color:#0072ff;  /* when in focus */
      color:#ffffff;
      font-family:Verdana, Arial,sans-serif; 
  font-size:12px;
      border-radius:5px;
      outline: 0px;
      border: 0px;
      margin:10px 10px auto;
      padding:10px 25px;
      font-weight: bold;
      cursor: pointer;
      }

.submitbutton{
  margin: 0 10px;
  padding:0px 10px 0px 10px; 
  line-height:30px; 
  font-family:Verdana, Arial,sans-serif; 
  font-size:12px; 
  white-space:nowrap; 
  color:#ffffff; 
  background-color:#0072ff; 
  font-weight:bold; 
  border-radius:5px;
  outline: 0px;
  border: 0px;
  cursor: pointer;
}

.submittext{
  padding:7px; 
  border-radius:5px;
  font-family:Verdana, Arial,sans-serif; 
  font-size:12px;
  outline: 0px;
  border: 1px solid #0072ff;
  color: #0072ff;
  font-weight: bold;
}

.text_color{
  color: #0072ff;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #0072ff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #0072ff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #0072ff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #0072ff;
}

